@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

.container{
    font-size: 18px;
    text-align: center;
    color: #fff;
    height: 100vh;
    background-image: linear-gradient(#6c2377, #7c1b4e);
    display: flex;
    flex-direction: column;
}

.div1{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.linha{
    width: 90%;
    height: 0.5px;
    background-color: #fff;
}
.div2{
    width: 100%;
    flex: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container .div1 h1 {
    margin: 0;
    padding: 40px;
    font-size: 20px;
    font-weight: normal;
}

.container p {
    margin: 0%;
    padding: 3%;
}

.container h2{
    margin: 20px 10px 20px 0px;
    font-size: 20px;
    font-weight: bold;
}

.button-completo{
    width: 90%;
    height: 60px;
    background: transparent;
    border: 1px solid #fff;
    font: bold 20px 'Roboto', sans-serif;
    letter-spacing:3px;
    color: #f7fff2;
}

.content{
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 0% 5% 30%;
}

.top h1 {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

.button-simples{
    border: none;
    background: transparent;
    font: bold 10px 'Roboto', sans-serif;
    letter-spacing:2px;
    color: #f7fff2;
    text-align: right;
}

.steps{
    background-color: #fff;
    height: 1px;
    width: 100%;
    margin-top: 5%;
    position: relative;
}

.step-active{
    background-color: chartreuse;
    height: 5px;
    width: 20%;
    position: absolute;
    margin-top: 18%;
}

.content-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5%;
}
.content-top h1{
    font-weight: normal;
    font-size: 100%;
    margin-left: 25%;
}

.content-item{
    margin: 5% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    background-color: #f6f3f7;
    color: #000;
    border: 1px solid #f6f3f7;
    border-radius: 5px;
} 

.content-item label, input, a{
    border: none;
    background-color: #f6f3f7;
    font: bold 12px 'Montserrat', sans-serif;
    text-align: left;
    padding: 2% 0% 0% 6%;
    display: flex;
    align-items: center;
    text-align: left;
    vertical-align:text-top;
}

.content-item input, a{
    border-bottom: 1px solid silver;
    height: 30px;
    padding-bottom: 2%;
}


.content a img{
    margin-right: 2%;
}
#line-off{
    border-bottom: none;
}

.content-item-exeption {
    border-radius: none; 
    
}

.content-item-left, .content-item-right{
    align-items: flex-start;
    flex-direction: column;
}
